<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <div id="logo-container">
                    <!--<img id="logo" src="../images/blomlogo-01.svg">-->
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <svg version="1.0" id="Lager_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 544.473 542.973" style="enable-background:new 0 0 544.473 542.973;" xml:space="preserve">
                    <g id="XMLID_90_">
                        <g id="XMLID_115_">
                            <linearGradient id="XMLID_108_" gradientUnits="userSpaceOnUse" x1="431.1963" y1="471.5565" x2="256.1963" y2="298.5565">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_46_" style="fill:url(#XMLID_108_);" d="M275.191,277.746c0,0-45.483,132.772,175.091,173.71L275.191,277.746z"/>
                            <linearGradient id="XMLID_110_" gradientUnits="userSpaceOnUse" x1="270.8134" y1="364.9976" x2="451.7862" y2="364.9976">
                                <stop  offset="0" style="stop-color:#80A7CE"/>
                                <stop  offset="1" style="stop-color:#74C7CE"/>
                            </linearGradient>
                            <path id="XMLID_43_" style="fill:url(#XMLID_110_);" d="M275.191,277.746c-1.685,5.578-2.665,11.349-3.239,17.139
                                c-0.591,5.794-0.642,11.634-0.299,17.439c0.116,1.45,0.128,2.908,0.328,4.35l0.51,4.333c0.151,1.447,0.479,2.868,0.71,4.303
                                c0.275,1.427,0.452,2.875,0.835,4.279c0.695,2.823,1.292,5.672,2.235,8.426l1.303,4.16l1.569,4.067
                                c0.961,2.747,2.268,5.347,3.49,7.984l0.923,1.974c0.331,0.646,0.702,1.272,1.051,1.909l2.125,3.805
                                c2.942,5.009,6.235,9.813,9.872,14.346l1.331,1.726c0.439,0.579,0.957,1.093,1.431,1.643l2.908,3.247
                                c0.986,1.066,1.901,2.201,2.946,3.211l3.136,3.028l3.136,3.028c0.509,0.519,1.066,0.986,1.628,1.448l1.671,1.4l3.342,2.8
                                l1.671,1.4l0.838,0.696l0.882,0.641l7.052,5.131c0.593,0.42,1.163,0.873,1.775,1.265l1.843,1.165l3.686,2.33
                                c4.832,3.247,10.045,5.852,15.118,8.691c1.258,0.731,2.586,1.328,3.899,1.953l3.941,1.87l3.941,1.87
                                c1.316,0.618,2.614,1.275,3.975,1.794l8.077,3.3l4.038,1.65c1.345,0.554,2.738,0.981,4.105,1.477l8.238,2.88l4.122,1.431
                                l4.184,1.241l8.368,2.481l4.184,1.241l4.236,1.053l8.471,2.104c2.827,0.686,5.634,1.458,8.497,1.989l17.097,3.539l-0.426,0.813
                                l-87.434-86.967l-43.708-43.493L275.191,277.746z M275.191,277.746l43.934,43.265l43.838,43.362l87.657,86.743l1.147,1.135
                                l-1.572-0.322l-17.137-3.511c-2.867-0.539-5.679-1.32-8.511-2.015l-8.484-2.13l-4.242-1.066l-4.191-1.254l-8.381-2.508
                                l-4.19-1.254l-4.129-1.445l-8.252-2.909c-1.369-0.501-2.765-0.933-4.112-1.492l-4.046-1.665l-8.092-3.331
                                c-1.363-0.523-2.664-1.186-3.983-1.809l-3.949-1.886l-3.949-1.886c-1.315-0.631-2.645-1.232-3.906-1.969
                                c-5.085-2.862-10.307-5.488-15.15-8.76l-3.694-2.348l-1.847-1.174c-0.613-0.395-1.185-0.852-1.779-1.274l-7.067-5.169
                                l-0.883-0.646l-0.84-0.701l-1.675-1.41l-3.349-2.82l-1.674-1.41c-0.562-0.465-1.12-0.935-1.631-1.458l-3.142-3.05l-3.142-3.05
                                c-1.046-1.017-1.963-2.16-2.951-3.233l-2.913-3.269c-0.475-0.553-0.994-1.071-1.433-1.654l-1.333-1.738
                                c-3.642-4.564-6.939-9.399-9.882-14.44l-2.126-3.829c-0.349-0.641-0.72-1.27-1.051-1.92l-0.922-1.986
                                c-1.22-2.652-2.526-5.268-3.485-8.03l-1.555-4.093l-1.278-4.188c-0.925-2.772-1.504-5.637-2.181-8.475
                                c-0.373-1.412-0.541-2.866-0.806-4.3c-0.221-1.441-0.538-2.869-0.68-4.321l-0.48-4.349c-0.19-1.447-0.192-2.91-0.297-4.363
                                c-0.301-5.821-0.206-11.67,0.428-17.467C272.441,289.079,273.465,283.312,275.191,277.746z"/>
                        </g>
                        <g id="XMLID_109_">
                            <linearGradient id="XMLID_111_" gradientUnits="userSpaceOnUse" x1="470.9103" y1="431.3834" x2="295.9103" y2="258.3834">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_41_" style="fill:url(#XMLID_111_);" d="M276.573,276.364c0,0,132.772-45.483,173.71,175.091L276.573,276.364z"/>
                            <linearGradient id="XMLID_112_" gradientUnits="userSpaceOnUse" x1="275.6557" y1="362.6718" x2="451.07" y2="362.6718">
                                <stop  offset="0" style="stop-color:#80A7CE"/>
                                <stop  offset="1" style="stop-color:#74C7CE"/>
                            </linearGradient>
                            <path id="XMLID_38_" style="fill:url(#XMLID_112_);" d="M276.573,276.364c5.566-1.726,11.334-2.75,17.126-3.368
                                c5.796-0.635,11.646-0.729,17.467-0.428c1.454,0.105,2.917,0.107,4.363,0.297l4.349,0.479c1.452,0.141,2.88,0.459,4.321,0.68
                                c1.434,0.265,2.888,0.433,4.3,0.806c2.838,0.676,5.703,1.255,8.475,2.181l4.188,1.278l4.093,1.555
                                c2.762,0.959,5.378,2.265,8.03,3.485l1.986,0.922c0.65,0.331,1.28,0.702,1.92,1.051l3.829,2.126
                                c5.04,2.943,9.875,6.24,14.44,9.882l1.738,1.333c0.583,0.439,1.1,0.958,1.654,1.433l3.269,2.913
                                c1.074,0.988,2.216,1.905,3.233,2.951l3.05,3.142l3.05,3.142c0.523,0.51,0.993,1.068,1.458,1.631l1.41,1.674l2.82,3.349
                                l1.41,1.675l0.701,0.84l0.646,0.883l5.169,7.067c0.423,0.594,0.879,1.166,1.274,1.779l1.174,1.847l2.348,3.694
                                c3.271,4.843,5.898,10.065,8.76,15.15c0.737,1.261,1.339,2.591,1.969,3.906l1.886,3.949l1.886,3.949
                                c0.623,1.319,1.286,2.62,1.809,3.983l3.331,8.092l1.665,4.046c0.559,1.347,0.99,2.743,1.492,4.112l2.909,8.252l1.445,4.129
                                l1.254,4.19l2.508,8.381l1.254,4.191l1.066,4.242l2.13,8.484c0.695,2.832,1.476,5.644,2.015,8.511l3.511,17.137l0.322,1.572
                                l-1.135-1.147l-86.743-87.657l-43.362-43.838L276.573,276.364z M276.573,276.364l43.59,43.611l43.493,43.708l86.967,87.434
                                l-0.813,0.426l-3.539-17.097c-0.53-2.863-1.303-5.67-1.989-8.498l-2.104-8.471l-1.053-4.236l-1.241-4.184l-2.481-8.368
                                l-1.241-4.184l-1.431-4.122l-2.88-8.238c-0.497-1.367-0.923-2.76-1.477-4.105l-1.65-4.038l-3.3-8.077
                                c-0.518-1.361-1.176-2.659-1.794-3.975l-1.87-3.941l-1.87-3.941c-0.625-1.313-1.222-2.641-1.953-3.899
                                c-2.839-5.073-5.444-10.287-8.691-15.118l-2.33-3.686l-1.165-1.843c-0.392-0.612-0.845-1.182-1.265-1.775l-5.131-7.052
                                l-0.641-0.882l-0.696-0.838l-1.4-1.671l-2.8-3.342l-1.4-1.671c-0.462-0.561-0.929-1.118-1.448-1.628l-3.028-3.136l-3.028-3.136
                                c-1.01-1.044-2.145-1.959-3.211-2.946l-3.247-2.908c-0.55-0.474-1.063-0.993-1.643-1.431l-1.726-1.331
                                c-4.534-3.637-9.337-6.93-14.346-9.872l-3.805-2.125c-0.637-0.349-1.263-0.72-1.909-1.051l-1.974-0.923
                                c-2.636-1.221-5.237-2.528-7.984-3.49l-4.067-1.569l-4.16-1.303c-2.754-0.943-5.603-1.539-8.426-2.235
                                c-1.405-0.383-2.852-0.56-4.279-0.835c-1.435-0.231-2.856-0.558-4.303-0.71l-4.333-0.51c-1.442-0.2-2.9-0.212-4.35-0.328
                                c-5.805-0.343-11.646-0.292-17.439,0.299C287.922,273.699,282.151,274.679,276.573,276.364z"/>
                        </g>
                        <g id="XMLID_103_">
                            <linearGradient id="XMLID_113_" gradientUnits="userSpaceOnUse" x1="90.4107" y1="181.0682" x2="264.1204" y2="181.0682">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_36_" style="fill:url(#XMLID_113_);" d="M264.12,266.675c0,0-132.772,45.483-173.71-175.091L264.12,266.675z"/>
                            <linearGradient id="XMLID_114_" gradientUnits="userSpaceOnUse" x1="89.6166" y1="180.3674" x2="265.031" y2="180.3674">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_33_" style="fill:url(#XMLID_114_);" d="M264.12,266.675c-5.566,1.726-11.334,2.75-17.126,3.368
                                c-5.796,0.635-11.646,0.729-17.467,0.428c-1.454-0.105-2.917-0.107-4.363-0.297l-4.349-0.48c-1.452-0.141-2.88-0.459-4.321-0.68
                                c-1.434-0.265-2.888-0.433-4.3-0.806c-2.838-0.676-5.703-1.255-8.475-2.181l-4.188-1.278l-4.093-1.555
                                c-2.762-0.959-5.378-2.265-8.03-3.485l-1.986-0.922c-0.65-0.331-1.28-0.702-1.92-1.051l-3.829-2.126
                                c-5.04-2.943-9.876-6.24-14.44-9.882l-1.738-1.333c-0.583-0.439-1.1-0.958-1.654-1.433l-3.269-2.913
                                c-1.074-0.988-2.216-1.905-3.233-2.951l-3.05-3.142l-3.05-3.142c-0.523-0.51-0.993-1.068-1.458-1.631l-1.41-1.674l-2.82-3.349
                                l-1.41-1.675l-0.701-0.84l-0.646-0.883l-5.169-7.067c-0.423-0.594-0.879-1.166-1.274-1.779l-1.174-1.847l-2.348-3.694
                                c-3.271-4.843-5.898-10.065-8.76-15.15c-0.737-1.261-1.339-2.591-1.969-3.906l-1.886-3.949l-1.886-3.949
                                c-0.623-1.319-1.286-2.62-1.809-3.983l-3.331-8.092l-1.665-4.046c-0.559-1.347-0.99-2.743-1.492-4.112l-2.909-8.252l-1.445-4.129
                                l-1.254-4.19l-2.508-8.381l-1.254-4.191l-1.066-4.242l-2.13-8.484c-0.695-2.832-1.476-5.644-2.015-8.511l-3.511-17.137
                                l-0.322-1.572l1.135,1.147l86.743,87.657l43.362,43.838L264.12,266.675z M264.12,266.675l-43.59-43.611l-43.493-43.708
                                L90.07,91.922l0.813-0.426l3.539,17.097c0.53,2.863,1.303,5.67,1.989,8.498l2.104,8.471l1.053,4.236l1.241,4.184l2.481,8.368
                                l1.24,4.184l1.431,4.122l2.88,8.238c0.497,1.367,0.923,2.76,1.477,4.105l1.65,4.038l3.3,8.077
                                c0.518,1.361,1.176,2.659,1.794,3.975l1.87,3.941l1.87,3.941c0.625,1.313,1.222,2.641,1.953,3.899
                                c2.839,5.073,5.444,10.287,8.691,15.118l2.33,3.686l1.165,1.843c0.392,0.612,0.845,1.182,1.265,1.775l5.131,7.052l0.641,0.882
                                l0.696,0.838l1.4,1.671l2.8,3.342l1.4,1.671c0.462,0.561,0.929,1.118,1.448,1.628l3.028,3.136l3.028,3.136
                                c1.01,1.045,2.145,1.959,3.211,2.946l3.247,2.908c0.55,0.474,1.063,0.993,1.643,1.431l1.726,1.331
                                c4.534,3.637,9.337,6.93,14.346,9.872l3.805,2.125c0.637,0.349,1.263,0.72,1.909,1.051l1.974,0.923
                                c2.636,1.221,5.237,2.528,7.984,3.49l4.067,1.569l4.16,1.303c2.754,0.943,5.603,1.539,8.426,2.235
                                c1.405,0.383,2.852,0.56,4.279,0.835c1.435,0.231,2.856,0.558,4.303,0.71l4.333,0.51c1.442,0.2,2.9,0.212,4.35,0.328
                                c5.805,0.343,11.646,0.292,17.439-0.299C252.771,269.34,258.542,268.36,264.12,266.675z"/>
                        </g>
                        <g id="XMLID_97_">
                            <linearGradient id="XMLID_116_" gradientUnits="userSpaceOnUse" x1="90.4107" y1="178.4386" x2="269.3797" y2="178.4386">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_31_" style="fill:url(#XMLID_116_);" d="M265.502,265.293c0,0,45.483-132.772-175.091-173.71L265.502,265.293z"/>
                            <linearGradient id="XMLID_117_" gradientUnits="userSpaceOnUse" x1="88.9259" y1="178.0415" x2="269.8988" y2="178.0415">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_28_" style="fill:url(#XMLID_117_);" d="M265.502,265.293c1.685-5.578,2.665-11.349,3.239-17.139
                                c0.591-5.794,0.642-11.634,0.299-17.439c-0.116-1.45-0.128-2.908-0.328-4.35l-0.51-4.333c-0.151-1.447-0.479-2.868-0.71-4.303
                                c-0.275-1.427-0.452-2.875-0.835-4.279c-0.695-2.823-1.292-5.672-2.235-8.426l-1.303-4.16l-1.569-4.067
                                c-0.961-2.747-2.268-5.347-3.49-7.984l-0.923-1.974c-0.331-0.646-0.702-1.272-1.051-1.909l-2.125-3.805
                                c-2.942-5.009-6.235-9.813-9.872-14.346l-1.331-1.726c-0.439-0.579-0.957-1.093-1.431-1.643l-2.908-3.247
                                c-0.986-1.066-1.901-2.201-2.946-3.211l-3.136-3.028l-3.136-3.028c-0.509-0.519-1.066-0.986-1.628-1.448l-1.671-1.4l-3.342-2.8
                                l-1.671-1.4l-0.838-0.696l-0.882-0.641l-7.052-5.131c-0.593-0.42-1.163-0.873-1.775-1.265l-1.843-1.165l-3.686-2.33
                                c-4.832-3.247-10.045-5.852-15.118-8.691c-1.258-0.731-2.586-1.328-3.899-1.953l-3.941-1.87l-3.941-1.87
                                c-1.316-0.618-2.614-1.275-3.975-1.794l-8.077-3.3l-4.038-1.65c-1.345-0.554-2.738-0.981-4.105-1.477l-8.238-2.88l-4.122-1.431
                                l-4.184-1.241l-8.368-2.481l-4.184-1.241l-4.235-1.053l-8.471-2.104c-2.827-0.686-5.634-1.458-8.498-1.989l-17.097-3.539
                                l0.426-0.813l87.434,86.967l43.708,43.493L265.502,265.293z M265.502,265.293l-43.934-43.265l-43.838-43.362L90.073,91.924
                                l-1.147-1.135l1.572,0.322l17.137,3.511c2.867,0.539,5.679,1.32,8.511,2.015l8.484,2.13l4.242,1.066l4.191,1.254l8.381,2.508
                                l4.19,1.254l4.129,1.445l8.252,2.909c1.369,0.501,2.764,0.933,4.112,1.492l4.046,1.665l8.092,3.331
                                c1.363,0.523,2.664,1.186,3.983,1.809l3.949,1.886l3.949,1.886c1.315,0.631,2.645,1.232,3.906,1.969
                                c5.085,2.862,10.307,5.488,15.15,8.76l3.694,2.348l1.847,1.174c0.613,0.395,1.185,0.852,1.779,1.274l7.067,5.169l0.883,0.646
                                l0.84,0.701l1.675,1.41l3.349,2.82l1.674,1.41c0.562,0.465,1.12,0.935,1.631,1.458l3.142,3.05l3.142,3.05
                                c1.046,1.017,1.963,2.16,2.951,3.233l2.913,3.269c0.475,0.553,0.994,1.071,1.433,1.654l1.333,1.738
                                c3.642,4.564,6.939,9.399,9.882,14.44l2.126,3.829c0.349,0.641,0.72,1.27,1.051,1.92l0.922,1.986
                                c1.22,2.652,2.526,5.268,3.485,8.03l1.555,4.093l1.278,4.188c0.925,2.772,1.504,5.637,2.181,8.475
                                c0.373,1.412,0.541,2.866,0.806,4.3c0.221,1.441,0.538,2.869,0.68,4.321l0.48,4.349c0.19,1.447,0.192,2.91,0.297,4.363
                                c0.301,5.821,0.206,11.67-0.428,17.467C268.252,253.96,267.228,259.727,265.502,265.293z"/>
                        </g>
                        <g id="XMLID_91_">
                            <linearGradient id="XMLID_118_" gradientUnits="userSpaceOnUse" x1="426.2947" y1="74.9035" x2="257.2947" y2="245.9035">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_26_" style="fill:url(#XMLID_118_);" d="M275.191,265.293c0,0-45.483-132.772,175.091-173.71L275.191,265.293z"/>
                            <linearGradient id="XMLID_119_" gradientUnits="userSpaceOnUse" x1="270.8134" y1="178.0415" x2="451.7862" y2="178.0415">
                                <stop  offset="0" style="stop-color:#80A7CE"/>
                                <stop  offset="1" style="stop-color:#74C7CE"/>
                            </linearGradient>
                            <path id="XMLID_23_" style="fill:url(#XMLID_119_);" d="M275.191,265.293c-1.726-5.566-2.75-11.334-3.368-17.126
                                c-0.635-5.796-0.729-11.646-0.428-17.467c0.105-1.454,0.107-2.917,0.297-4.363l0.48-4.349c0.141-1.452,0.459-2.88,0.68-4.321
                                c0.265-1.434,0.433-2.888,0.806-4.3c0.676-2.838,1.255-5.703,2.181-8.475l1.278-4.188l1.555-4.093
                                c0.959-2.762,2.265-5.378,3.485-8.03l0.922-1.986c0.331-0.65,0.702-1.28,1.051-1.92l2.126-3.829
                                c2.943-5.04,6.24-9.876,9.882-14.44l1.333-1.738c0.439-0.583,0.958-1.1,1.433-1.654l2.913-3.269
                                c0.988-1.074,1.905-2.216,2.951-3.233l3.142-3.05l3.142-3.05c0.51-0.523,1.068-0.993,1.631-1.458l1.674-1.41l3.349-2.82
                                l1.675-1.41l0.84-0.701l0.883-0.646l7.067-5.169c0.594-0.423,1.166-0.879,1.779-1.274l1.847-1.174l3.694-2.348
                                c4.843-3.271,10.065-5.898,15.15-8.76c1.261-0.737,2.591-1.339,3.906-1.969l3.949-1.886l3.949-1.886
                                c1.319-0.623,2.62-1.286,3.983-1.809l8.092-3.331l4.046-1.665c1.347-0.559,2.743-0.99,4.112-1.492l8.252-2.909l4.129-1.445
                                l4.19-1.254l8.381-2.508l4.191-1.254l4.242-1.066l8.484-2.13c2.832-0.695,5.644-1.476,8.511-2.015l17.137-3.511l1.572-0.322
                                l-1.147,1.135l-87.657,86.743l-43.838,43.362L275.191,265.293z M275.191,265.293l43.611-43.59l43.708-43.493l87.434-86.967
                                l0.426,0.813l-17.097,3.539c-2.863,0.53-5.67,1.303-8.497,1.989l-8.471,2.104l-4.236,1.053l-4.184,1.241l-8.368,2.481
                                l-4.184,1.241l-4.122,1.431l-8.238,2.88c-1.367,0.497-2.76,0.923-4.105,1.477l-4.038,1.65l-8.077,3.3
                                c-1.361,0.518-2.659,1.176-3.975,1.794l-3.941,1.87l-3.941,1.87c-1.313,0.625-2.641,1.222-3.899,1.953
                                c-5.073,2.839-10.287,5.444-15.118,8.691l-3.686,2.33l-1.843,1.165c-0.612,0.392-1.182,0.845-1.775,1.265l-7.052,5.131
                                l-0.882,0.641l-0.838,0.696l-1.671,1.4l-3.342,2.8l-1.671,1.4c-0.561,0.462-1.118,0.929-1.628,1.448l-3.136,3.028l-3.136,3.028
                                c-1.045,1.01-1.959,2.145-2.946,3.211l-2.908,3.247c-0.474,0.55-0.993,1.063-1.431,1.643l-1.331,1.726
                                c-3.637,4.534-6.93,9.337-9.872,14.346l-2.125,3.805c-0.349,0.637-0.72,1.263-1.051,1.909l-0.923,1.974
                                c-1.221,2.636-2.528,5.237-3.49,7.984l-1.569,4.067l-1.303,4.16c-0.943,2.754-1.539,5.603-2.235,8.426
                                c-0.383,1.405-0.56,2.852-0.835,4.279c-0.231,1.435-0.558,2.856-0.71,4.303l-0.51,4.333c-0.2,1.442-0.212,2.9-0.328,4.35
                                c-0.343,5.805-0.292,11.646,0.299,17.439C272.526,253.944,273.506,259.715,275.191,265.293z"/>
                        </g>
                        <g id="XMLID_85_">
                            <linearGradient id="XMLID_120_" gradientUnits="userSpaceOnUse" x1="466.4614" y1="114.6004" x2="297.4614" y2="285.6004">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_21_" style="fill:url(#XMLID_120_);" d="M276.573,266.675c0,0,132.772,45.483,173.71-175.091L276.573,266.675z"/>
                            <linearGradient id="XMLID_121_" gradientUnits="userSpaceOnUse" x1="275.6557" y1="180.3674" x2="451.07" y2="180.3674">
                                <stop  offset="0" style="stop-color:#80A7CE"/>
                                <stop  offset="1" style="stop-color:#74C7CE"/>
                            </linearGradient>
                            <path id="XMLID_18_" style="fill:url(#XMLID_121_);" d="M276.573,266.675c5.578,1.685,11.349,2.665,17.139,3.239
                                c5.793,0.591,11.634,0.642,17.439,0.299c1.45-0.116,2.908-0.128,4.35-0.328l4.333-0.51c1.447-0.151,2.868-0.479,4.303-0.71
                                c1.427-0.275,2.875-0.452,4.279-0.835c2.823-0.695,5.672-1.292,8.426-2.235l4.16-1.303l4.067-1.569
                                c2.747-0.961,5.347-2.268,7.984-3.49l1.974-0.923c0.646-0.331,1.272-0.702,1.909-1.051l3.805-2.125
                                c5.009-2.942,9.813-6.235,14.346-9.872l1.726-1.331c0.579-0.439,1.093-0.957,1.643-1.431l3.247-2.908
                                c1.066-0.986,2.201-1.901,3.211-2.946l3.028-3.136l3.028-3.136c0.519-0.509,0.986-1.066,1.448-1.628l1.4-1.671l2.8-3.342
                                l1.4-1.671l0.696-0.838l0.641-0.882l5.131-7.052c0.42-0.593,0.873-1.163,1.265-1.775l1.165-1.843l2.33-3.686
                                c3.247-4.832,5.852-10.045,8.691-15.118c0.731-1.258,1.328-2.586,1.953-3.899l1.87-3.941l1.87-3.941
                                c0.618-1.316,1.275-2.614,1.794-3.975l3.3-8.077l1.65-4.038c0.554-1.345,0.981-2.738,1.477-4.105l2.88-8.238l1.431-4.122
                                l1.241-4.184l2.481-8.368l1.241-4.184l1.053-4.236l2.104-8.471c0.686-2.827,1.458-5.634,1.989-8.498l3.539-17.097l0.813,0.426
                                l-86.967,87.434l-43.493,43.708L276.573,266.675z M276.573,266.675l43.265-43.934l43.362-43.838l86.743-87.657l1.135-1.147
                                l-0.322,1.572l-3.511,17.137c-0.539,2.867-1.32,5.679-2.015,8.511l-2.13,8.484l-1.066,4.242l-1.254,4.191l-2.508,8.381
                                l-1.254,4.19l-1.445,4.129l-2.909,8.252c-0.501,1.369-0.932,2.764-1.492,4.112l-1.665,4.046l-3.331,8.092
                                c-0.523,1.363-1.186,2.664-1.809,3.983l-1.886,3.949l-1.886,3.949c-0.631,1.315-1.232,2.645-1.969,3.906
                                c-2.862,5.085-5.488,10.307-8.76,15.15l-2.348,3.694l-1.174,1.847c-0.395,0.613-0.852,1.185-1.274,1.779l-5.169,7.067
                                l-0.646,0.883l-0.701,0.84l-1.41,1.675l-2.82,3.349l-1.41,1.674c-0.465,0.562-0.935,1.12-1.458,1.631l-3.05,3.142l-3.05,3.142
                                c-1.018,1.046-2.16,1.963-3.233,2.951l-3.269,2.913c-0.554,0.475-1.071,0.994-1.654,1.433l-1.738,1.333
                                c-4.564,3.642-9.399,6.939-14.44,9.882l-3.829,2.126c-0.641,0.349-1.27,0.72-1.92,1.051l-1.986,0.922
                                c-2.652,1.22-5.268,2.526-8.03,3.485l-4.093,1.555l-4.188,1.278c-2.772,0.925-5.637,1.504-8.475,2.181
                                c-1.412,0.373-2.866,0.541-4.3,0.806c-1.441,0.221-2.869,0.538-4.321,0.68l-4.349,0.48c-1.447,0.19-2.91,0.192-4.363,0.297
                                c-5.821,0.301-11.67,0.206-17.467-0.428C287.906,269.425,282.139,268.401,276.573,266.675z"/>
                        </g>
                        <linearGradient id="XMLID_122_" gradientUnits="userSpaceOnUse" x1="74.2729" y1="427.7792" x2="242.2728" y2="258.7792">
                            <stop  offset="0" style="stop-color:#74C7CE"/>
                            <stop  offset="1" style="stop-color:#80A7CE"/>
                        </linearGradient>
                        <linearGradient id="XMLID_123_" gradientUnits="userSpaceOnUse" x1="89.623" y1="362.4728" x2="265.0374" y2="362.4728">
                            <stop  offset="0" style="stop-color:#74C7CE"/>
                            <stop  offset="1" style="stop-color:#80A7CE"/>
                        </linearGradient>
                        <path id="XMLID_81_" style="fill:url(#XMLID_122_);stroke:url(#XMLID_123_);stroke-miterlimit:10;" d="M264.12,276.364
                            c0,0-132.772-45.483-173.71,175.091L264.12,276.364z"/>
                        <g id="XMLID_75_">
                            <linearGradient id="XMLID_124_" gradientUnits="userSpaceOnUse" x1="114.491" y1="467.7593" x2="282.491" y2="298.7593">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_13_" style="fill:url(#XMLID_124_);" d="M265.502,277.746c0,0,45.483,132.772-175.091,173.71L265.502,277.746z"/>
                            <linearGradient id="XMLID_125_" gradientUnits="userSpaceOnUse" x1="88.9259" y1="364.9976" x2="269.8988" y2="364.9976">
                                <stop  offset="0" style="stop-color:#74C7CE"/>
                                <stop  offset="1" style="stop-color:#80A7CE"/>
                            </linearGradient>
                            <path id="XMLID_10_" style="fill:url(#XMLID_125_);" d="M265.502,277.746c1.726,5.566,2.75,11.334,3.368,17.126
                                c0.635,5.796,0.729,11.646,0.428,17.467c-0.105,1.454-0.107,2.917-0.297,4.363l-0.48,4.349c-0.141,1.452-0.459,2.88-0.68,4.321
                                c-0.265,1.434-0.433,2.888-0.806,4.3c-0.676,2.838-1.255,5.703-2.181,8.475l-1.278,4.188l-1.555,4.093
                                c-0.959,2.762-2.265,5.378-3.485,8.03l-0.922,1.986c-0.331,0.65-0.702,1.28-1.051,1.92l-2.126,3.829
                                c-2.943,5.04-6.24,9.876-9.882,14.44l-1.333,1.738c-0.439,0.583-0.958,1.1-1.433,1.654l-2.913,3.269
                                c-0.988,1.074-1.905,2.216-2.951,3.233l-3.142,3.05l-3.142,3.05c-0.51,0.523-1.068,0.993-1.631,1.458l-1.674,1.41l-3.349,2.82
                                l-1.675,1.41l-0.84,0.701l-0.883,0.646l-7.067,5.169c-0.594,0.423-1.166,0.879-1.779,1.274l-1.847,1.174l-3.694,2.348
                                c-4.843,3.271-10.065,5.898-15.15,8.76c-1.261,0.737-2.591,1.339-3.906,1.969l-3.949,1.886l-3.949,1.886
                                c-1.319,0.623-2.62,1.286-3.983,1.809l-8.092,3.331l-4.046,1.665c-1.347,0.559-2.743,0.99-4.112,1.492l-8.252,2.909l-4.129,1.445
                                l-4.19,1.254l-8.381,2.508l-4.191,1.254l-4.242,1.066l-8.484,2.13c-2.832,0.695-5.644,1.476-8.511,2.015l-17.137,3.511
                                l-1.572,0.322l1.147-1.135l87.657-86.743l43.838-43.362L265.502,277.746z M265.502,277.746l-43.611,43.59l-43.708,43.493
                                l-87.434,86.967l-0.426-0.813l17.097-3.539c2.863-0.53,5.67-1.303,8.498-1.989l8.471-2.104l4.235-1.053l4.184-1.241l8.368-2.481
                                l4.184-1.241l4.122-1.431l8.238-2.88c1.367-0.497,2.76-0.923,4.105-1.477l4.038-1.65l8.077-3.3
                                c1.361-0.518,2.659-1.176,3.975-1.794l3.941-1.87l3.941-1.87c1.313-0.625,2.641-1.222,3.899-1.953
                                c5.073-2.839,10.287-5.444,15.118-8.691l3.686-2.33l1.843-1.165c0.612-0.392,1.182-0.845,1.775-1.265l7.052-5.131l0.882-0.641
                                l0.838-0.696l1.671-1.4l3.342-2.8l1.671-1.4c0.561-0.462,1.118-0.929,1.628-1.448l3.136-3.028l3.136-3.028
                                c1.044-1.01,1.959-2.145,2.946-3.211l2.908-3.247c0.474-0.55,0.993-1.063,1.431-1.643l1.331-1.726
                                c3.637-4.534,6.93-9.337,9.872-14.346l2.125-3.805c0.349-0.637,0.72-1.263,1.051-1.909l0.923-1.974
                                c1.221-2.636,2.528-5.237,3.49-7.984l1.569-4.067l1.303-4.16c0.943-2.754,1.539-5.603,2.235-8.426
                                c0.383-1.405,0.56-2.852,0.835-4.279c0.231-1.435,0.558-2.856,0.71-4.303l0.51-4.333c0.2-1.442,0.212-2.9,0.328-4.35
                                c0.343-5.805,0.292-11.646-0.299-17.439C268.167,289.095,267.187,283.324,265.502,277.746z"/>
                        </g>
                        <linearGradient id="XMLID_126_" gradientUnits="userSpaceOnUse" x1="242.6811" y1="529.351" x2="243.6811" y2="282.351">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_74_" style="fill:url(#XMLID_126_);" d="M270.37,279.348c0,0-126.045,61.722,0.977,246.639L270.37,279.348z"/>
                        <linearGradient id="XMLID_127_" gradientUnits="userSpaceOnUse" x1="297.3791" y1="529.5806" x2="298.3791" y2="282.5805">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_73_" style="fill:url(#XMLID_127_);" d="M270.323,279.348c0,0,126.045,61.722-0.977,246.639L270.323,279.348z"/>
                        <linearGradient id="XMLID_128_" gradientUnits="userSpaceOnUse" x1="242.5485" y1="40.3162" x2="244.5485" y2="259.3162">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_72_" style="fill:url(#XMLID_128_);" d="M270.386,263.691c0,0-126.045-61.722,0.977-246.64L270.386,263.691z"/>
                        <linearGradient id="XMLID_129_" gradientUnits="userSpaceOnUse" x1="296.5874" y1="39.8041" x2="298.5874" y2="258.8041">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_71_" style="fill:url(#XMLID_129_);" d="M270.307,263.691c0,0,126.045-61.722-0.977-246.64L270.307,263.691z"/>
                        <linearGradient id="XMLID_130_" gradientUnits="userSpaceOnUse" x1="536.6749" y1="247.7518" x2="281.6749" y2="242.7518">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_70_" style="fill:url(#XMLID_130_);" d="M278.175,271.543c0,0,61.722-126.045,246.64,0.977L278.175,271.543z"/>
                        <linearGradient id="XMLID_131_" gradientUnits="userSpaceOnUse" x1="535.6006" y1="300.5371" x2="280.6007" y2="295.5371">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_69_" style="fill:url(#XMLID_131_);" d="M278.175,271.496c0,0,61.722,126.045,246.64-0.977L278.175,271.496z"/>
                        <linearGradient id="XMLID_132_" gradientUnits="userSpaceOnUse" x1="13.3711" y1="244.481" x2="261.3711" y2="243.481">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_68_" style="fill:url(#XMLID_132_);" d="M262.938,271.543c0,0-61.722-126.045-246.64,0.977L262.938,271.543z"/>
                        <linearGradient id="XMLID_133_" gradientUnits="userSpaceOnUse" x1="13.5997" y1="299.1811" x2="261.5997" y2="298.1811">
                            <stop  offset="0" style="stop-color:#FFFFFF"/>
                            <stop  offset="0.2692" style="stop-color:#FCFCFD"/>
                            <stop  offset="0.4949" style="stop-color:#F2F1F8"/>
                            <stop  offset="0.7048" style="stop-color:#E2E0F0"/>
                            <stop  offset="0.9041" style="stop-color:#CCC8E4"/>
                            <stop  offset="1" style="stop-color:#BEB9DD"/>
                        </linearGradient>
                        <path id="XMLID_67_" style="fill:url(#XMLID_133_);" d="M262.938,271.496c0,0-61.722,126.045-246.64-0.977L262.938,271.496z"/>
                        
                            <circle id="XMLID_66_" style="fill:#3A7DB3;stroke:#3A7DB3;stroke-width:16;stroke-miterlimit:10;" cx="270.347" cy="271.52" r="7.409"/>
                    </g>
                    </svg>

                </div>
                <a class="navbar-brand" href="#">Travels</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Trips</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="main">
            <div class="header-content">
                <h1>Find New Adventures</h1>
                <p>Go on a trip of a lifetime. We'll help you find the right adventure for you no matter how long it is. You'll get help finding routes between countries or sites. Visit the most see worthy places on the planet. Book an adventure now! Not
                    convinced yet? Read more about our options and we are sure that you will be </p>
            </div>
            <div class="button-container">
                <button class="button-primary">
                    Book adventure
                </button>
                <button class="button-secondary">
                    Find out more
                </button>
            </div>
        </div>
    </header>
    <section class="card-destinations">
        <div class="content-header header-padding">
            <h2>Experience the best the world has to offer</h2>
            <p>We guide you to the most exciting places and sites, all around the globe</p>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="../images/machu-pichu.jpg">
                <div class="card-info">
                    <div class="card-header">
                        <h3>Machu Pichu</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>America</li>
                            <li>Peru</li>
                            <li>Ruins</li>
                            <li>Mountains</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../images/bagan.jpg">
                <div class="card-info">
                    <div class="card-header">
                        <h3>Temple of Tibet</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>East Asia</li>
                            <li>Tibet</li>
                            <li>Temple</li>
                            <li>Buddhism</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="../images/ha.jpg">
                <div class="card-info">
                    <div class="card-header">
                        <h3>Rainforest Cave</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>Vietnam</li>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="../images/adv.jpg">
                <div class="card-info">
                    <div class="card-header">
                        <h3>Air baloon in Africa</h3>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li>Africa</li>
                            <li>Air Baloon</li>
                            <li>Lorem</li>
                            <li>Ispum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="parallax">
        <div class="content-header header-padding">
            <h2>Explore all the corners of the world</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>
    <section id="book">
        <div class="content-header header-padding">
            <h2>Book your trip today!</h2>
            <button class="button-primary">Book now</button>
        </div>
    </section>
    <section class="about-content">
        <div class="content-header header-padding">
            <h2>Short, medium or long journey?</h2>
            <p>We got something for everyone</p>
        </div>
        <div class="tabs">
            <button class="button-primary">Short Adventure</button>
            <button class="button-secondary">Medium Adventure</button>
            <button class="button-secondary">Long Adventure</button>
        </div>
        <div class=" header-padding content-header">
            <div class="trip-suggestions">
                <div class="left-content">
                    <img src="../images/spain.jpg">
                </div>
                <div class="right-content" id="offers">
                    <h3>Short Adventure - Two Countries in one week</h3>
                    <p>Experience the warm and sunny beaches in spain, enjoy some tapas in the town Ronda high up in the mountains of southern Spain. Take a boat over the gibraltar sund and spend a few days in the moroccan jungle. There you will see many
                        of the wild animals of africa as well as relaxing in your own little bungaloo</p>
                </div>
            </div>
        </div>
    </section>
    <section class="review-content">
        <div class="content-header">
            <h2>Customer Reviews</h2>
            <p>See what people thought about their trips</p>
        </div>
        <div id="stories">
            <div class="left-content">
                <div class="info-container">
                    <div class="info-image">
                        <img src="../images/person1.jpg">
                    </div>
                    <div class="info-text">
                        <h3>Sara - Short trip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="info-container">
                    <div class="info-image">
                        <img src="../images/person2.jpg">
                    </div>
                    <div class="info-text">
                        <h3>Leo & Kim - Medium trip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>

            <div class="right-content">
                <div class="info-container">
                    <div class="info-image">
                        <img src="../images/person3.jpg">
                    </div>
                    <div class="info-text">
                        <h3>Lucas - Long trip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
                <div style="clear:both"></div>

                <div class="info-container">
                    <div class="info-image">
                        <img src="../images/person4.jpg">
                    </div>
                    <div class="info-text">
                        <h3>Nina - Short trip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-section">
        <div id="contact-id" class="content-header header-padding">
            <h2>Contact Form</h2>
            <p>Do you have any questions? Don't hesitate to send us a message</p>
        </div>
        <div class="contact-form">
            <form>
                <div class="form-group">
                    <label>Name:</label>
                    <input class="input-material" required>
                    <span class="bar"></span>

                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="input-material" required>
                    <span class="bar"></span>

                </div>
                <div class="form-group">
                    <label id="textarea-label">Message:</label>
                    <textarea class="input-material" required></textarea>
                    <span id="textarea-bar" class="bar"></span>
                </div>
                <button id="submit" class="button-primary" type="submit">Send Message</button>
            </form>
        </div>
    </section>
    <section id="footer">
        <div id="footer-container">
            <div class="footer-title">
                <h3>Company name</h3>
                <p>Company name brings the best of everything when it comes to traveling</p>
                <div>
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-twitter fa-lg"></i>
                    <i class="fa fa-linkedin fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i>
                </div>
            </div>
            <div class="links">
                <div>
                    <h4>Partners</h4>
                    <a href="#">Ticket.com</a>
                    <a href="#">Booking.com</a>
                    <a href="#">Hotels.com</a>
                    <a href="#">Flights.com</a>
                </div>
                <div id="contact-content">
                    <h4>Contact</h4>
                    <a href="#">Email <i class="fa fa-envelope"  aria-hidden="true"></i></a>
                    <a href="#">Phone <i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a href="#">Fax <i class="fa fa-fax" aria-hidden="true"></i></a>
                    <a href="#">Address <i class="fa fa-map-marker" aria-hidden="true"></i></a>
                </div>
                <div>
                    <h4>Legal</h4>
                    <a href="#">Terms and Agreements</a>
                    <a href="#">Insurance</a>
                </div>
            </div>
        </div>

    </section>
    <footer>
        &copy; Mikaela Törnlund
    </footer>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/app.js" type="text/javascript"></script>
</body>

</html>